* {
  font-family: 'Avenir Next', sans-serif;
  font-style: normal;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FCFCF0;
  border: 1px solid #2D2A26;
  border-radius: 10px;
  transition: all;
}

.button:hover {
  box-shadow: 4px 4px 0 0 rgb(45, 42, 38);
  transform: scale(1) translate(1px, 1px);
}
